<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>{{ css }}</style>
</head>
<body>
    <div class="container">
        <div class="content">
            <h2>Important: Item Recall Notification</h2>
            <p>Your item, <strong>{{ item_name }}</strong>, has been recalled by <strong>{{ store_name }}</strong> for the following reason:</p>
            <p><strong>{{ recall_reason_title }}</strong>: {{ recall_reason_description }}</p>
            <p>Please collect your item from the store within the next 14 days. If the item is not collected within 14 days, it will be considered <strong>abandoned</strong>, and you will no longer have the right to claim the item.</p>
            <p>To collect your item, please provide this collection PIN at the store:</p>
            <div class="pin">{{ collection_pin }}</div>
            <p>To help the assistant find your item, please show your <a href="{{ item_page_url }}">item page</a> at collection.</p>
            <p>We understand that having an item recalled can be disappointing, but don’t worry—there’s always more chance to list! We encourage you to try again with a new item that could be the perfect match for the store.</p>
            <p>As always, please ensure that any future listings match the store's categories and condition standards. We look forward to seeing your next listing!</p>
            <p>If you have any questions or need assistance, feel free to reach out to our support team. We're here to help!</p>
        </div>
        <div class="footer">
            <p>&copy; {{ current_year }} Tag&Take. All rights reserved.</p>
        </div>
    </div>
</body>
</html>
