<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>{{ css }}</style>
</head>
<body>
    <div class="container">
        <div class="content">
            <h2>Item Collected</h2>
            <p>Thanks for picking up your item, <strong>{{ item_name }}</strong>, from <strong>{{ store_name }}</strong>.</p>
            <p>To ensure your next item finds a new home quickly, make sure it's in top condition and matches the store’s categories and standards.</p>
            <p>Remember, one person's "eh" is another person's "OMG!" Keep listing and make your closet clean-out profitable!</p>            
            <p>If you have any questions or need further assistance, our support team is here to help.</p>
            <p>Best regards,<br />The Tag&Take Team</p>
        </div>
        <div class="footer">
            <p>&copy; {{ current_year }} Tag&Take. All rights reserved.</p>
        </div>
    </div>
</body>
</html>
