<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>{{ css }}</style>
</head>
<body>
    <div class="container">
        <div class="content">
            <h2>Supplies Purchased</h2>
            Store supplies purchased for:
            <div class="content">
                <p> Store: {{ store }} </p>
                <p> Email: {{ email }} </p>       
                <p> Address: {{ address }} </p>
            </div>
            <p> Order date: {{ order_date }} </p>
            <h3>Supplies summary:</h3>
            <table class="order-table">
                <thead>
                    <tr class="order-header">
                        <th>Item</th>
                        <th>Quantity</th>
                        <th>Unit Price</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in purchased_supplies %}
                    <tr class="order-row">
                        <td data-label="Item">{{ item.name }}</td>
                        <td data-label="Quantity">{{ item.quantity }}</td>
                        <td data-label="Unit Price">£{{ item.price }}</td>
                        <td data-label="Total">£{{ item.total_price }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="footer">
            <p>&copy; {{ current_year }} Tag&Take. All rights reserved.</p>
        </div>
    </div>
</body>
</html>
