<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>{{ css }}</style>
</head>
<body>
    <div class="container">
        <div class="content">
            <h2>Recurring Storage Fee Charged</h2>
            <p>Your item <strong>{{ item_name }}</strong> has incurred another storage fee of <strong>£{{ storage_fee }}</strong>.</p>
            <p>You have been charged a storage fee <strong>{{ fee_count }}</strong> times so far.</p>
            <p>If you do not pick up your item by <strong>{{ next_charge_time }}</strong> on <strong>{{ next_charge_date }}</strong>, another storage fee will be charged.</p>
            <p>Please pick up your item to avoid further charges.</p>
            <p>Best regards,<br />The Tag&Take Team</p>
        </div>
        <div class="footer">
            <p>&copy; {{ current_year }} Tag&Take. All rights reserved.</p>
        </div>
    </div>
</body>
</html>
