<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Store Profile PIN</title>
    <style>{{ css }}</style>
    </style>
</head>
<body>
    <div class="container">
        <div class="content">
            <h1>Your new store PIN.</h1>
            <p>This PIN is required to change store settings and update info.</p>
            <div class="pin">{{ pin }}</div>
            <p>Please keep this PIN safe and share it only with trusted staff members.</p> 
            <p>If you have any questions or need assistance, our support team is always here to help.</p>
            <p>Happy hosting!</p>
        </div>
        <div class="footer">
            &copy; 2024 Tag&Take. All rights reserved.
        </div>
    </div>
</body>
</html>