<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Tag&Take!</title>
    <style>{{ css }}</style>
</head>
<body>
    <div class="container">
        <div class="content">
            <h1>Welcome to Tag&Take!</h1>
            <p>We're thrilled to have you as a member of our community-driven marketplace.</p>
            <p>With Tag&Take, you’re not just selling second-hand goods—you're leading a new way of shopping, proving that smart solutions can redefine how we trade within communities. </p>
            <p>To get started, simply log in to your account and begin adding your items, find stores near you, and start selling on your high street! </p>
            <a href="{{ login_url }}" class="button">Log In to Your Account</a>
            <p>You can manage account details and preferences on your profile and track your sales through our easy-to-use platform.</p>
            <p>To find out more about how it works, visit our <a href="{{ how_it_works_url }}">How It Works</a> page.</p>
            <p>If you have any questions or need assistance, our support team is always here to help.</p>
            <p>Happy selling!</p>
        </div>
        <div class="footer">
            &copy; 2024 Tag&Take. All rights reserved.
        </div>
    </div>
</body>
</html>
